# {{ ansible_managed }}
*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]

-A POSTROUTING -s 172.16.1.0/24 -o eth0 -j SNAT --to-source {{ ansible_default_ipv4['address'] }}
COMMIT

*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

# loopback traffic
-A INPUT -i lo -j ACCEPT

# icmp echo --- ping
-A INPUT -p icmp --icmp-type 8 -j ACCEPT

# ssh
-A INPUT -p tcp -m tcp --dport 22 -j ACCEPT

# mosh
-A INPUT -i eth0 -p udp -m udp --dport 60000:60100 -j ACCEPT

# openvpn
-A INPUT -p udp -m udp --dport 1194 -j ACCEPT
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT

# rate limiting
-A INPUT -p tcp --dport 22 -m state --state NEW -m recent --name ssh --set --rsource
-A INPUT -p tcp --dport 22 -m state --state NEW -m recent --name ssh --update --seconds 60 --hitcount 3 --rsource -j DROP

-A INPUT -j DROP
COMMIT
